/**
 * Importing the font Roboto from google fonts
 */
 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

#header{
    padding: 10px;
    margin: 5px;
    font-size: 40px;
}
#headerLogo{
    width: 60px;
    height: 60px;
    object-fit: fill;
    padding: 10px;
}