/**
 * Importing the font Roboto from google fonts
 */
 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

.headerPage {
    background-color: #370617;
    color: #E85D04;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

#headerLogo,
#header{
    padding: 10px;
    margin: 5px;
}