.inputField {
    width: 80%!important;
    margin-left: 10%!important;
}

.buttonField {
    display: inline-block;
    width: 150px;
    text-align: center;
    margin: 1em;
    background-color: #e85d04!important;
}

.buttonField2 {
    width: 150px;
    text-align: center;
    margin: 1em;
}

.buttonDiv {
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.editDinnerContainer {
    max-width: 600px;
    margin: auto;
}

.overviewDiv {
    margin-top: 100px;
    width: 100%;
}


.editDinnerH2 {
    margin-bottom: 0%;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    color: #e85d04;    
    width: 80%!important;
    margin-left: 10%!important;
}