.inputField {
    width: 80%;
    margin-left: 10%;
}

.buttonField {
    width: 150px;
    text-align: center;
    background-color: #e85d04!important;
}

.buttonDiv {
    margin-top: 30px;
    width: 100%;
    text-align: center;
}

.editDinnerContainer {
    flex-direction: column;
    align-items: left;
    margin-left: 30%;
    width: 40%;
    margin-top: 100px;
}
/*
.editDinnerH1 {
    text-align: center;
    color: #e85d04;
    width: 80%;
    margin-left: 10%;
    color: #e85d04;
}
*/

.editDinnerH2 {
    margin-bottom: 0%;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    width: 80%;
    margin-left: 10%;
    color: #e85d04;
}