@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), url(../../fonts/Roboto-Thin.ttf) format('truetype');
}

body{
    background-color: #F0EFEB;
}
.dinnerPageContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto-Thin', sans-serif;
}
.dinnerPageInfo{
    align-items: flex-start;
    justify-content: left;
    width: 100%;
}

.courseHeadline{
    text-align: center;
    color: #E85D04;
    /*font-family: 'Roboto', sans-serif;*/

}

.dinnerTimeDate{
    display: flex;
    flex-direction: row;
    /*-ms-flex-align: right;*/
    justify-content: space-between;

}

h1{
    color: #E85D04;
}

.dinnerContainer{
    border-bottom: solid #E85D04 2px;
}

h3{
    color:black;
    
}
img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

#signUp{
    background-color: #E85D04;
    padding: 20px;
    margin: 10px;
    text-align: center;
    border-radius: 5px;
    border: none;
}