
.profilePageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

.profilePageHeadline {
    text-align: center;
    padding: 5px;
    color: #e85d04;
}

.profilePageH2{
    color: #e85d04;
    margin-bottom: 0%;
    width: 30%;
    text-align: left;
}

.profilePageH3 {
    color: black;
    border-bottom: #e85d04 solid 1px;
    margin-top: 1.5px;
    padding: 2px;
    width: 30%;
    text-align: left;
}

.buttonField {
    width: 150px;
    text-align: center;
    background-color: #e85d04!important;
}

.buttonDiv {
    width: 100%;
    text-align: center;
    margin-top: 30px;
}