.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.footerDiv {
  background-color:#E85D04; 
  padding-bottom: 30px;
  padding-top: 50px;
  text-align: center;
}
.bottomDineLogo{
  width: 4rem;
}

.topDiv {
  padding-bottom: 100px;
  min-height: 100vh;
}
